Registration/login.html
<!--NOTE -
This HTML script is purely written in the templating engine of node.js 
i.e Jade, if you want to edit or rather manipulate the html script please 
head over to index.jade 
NOTE -
I will compile all the code of the jade file into 
an .html file, you can manipulate the html file in order to manipulate the DOM--><!---->
<!DOCTYPE html >
<html lang="en">
<head> 
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<!--Reset CSS -->
<link rel="stylesheet" href="../Reset.cs" type="text/css"/>
<!--StyleSheet of the DOM -->
<link rel="stylesheet" href="style.css" type="text/css"/>
<!--Title of the website-->
<title>Login</title>
<!--Icon of the website--><link rel="icon" href="../Icon.png"/>
</head>
<body>
<header>
	<!--TODO Link the anchor tag to Home Page-->
	<a href=""><div class="Logo"></div></a>
	<div class="Connect"> </div>
	<div class="MainProducts">
		<div class="navDiv Find"><a href="">Find </a></div>
		<div class="navDiv IBazzar"><a href="">iBazzar </a></div>
		<div class="navDiv LaunchPad"><a href="">LaunchPad</a></div>
	</div>
	<div class="SearchButton"> </div>
	<!--The connect has an icon NOTE - SVG file will be included -->
</header>
<h1>Login IBNz Networks</h1>
<!--The division between nornal login and outsorced login -->
<div class="LoginDivision"><!--Division for google login-->
	<a href=""><div class="Login google"> <p></p>Google</div></a>
	<!--Division for facebook login-->
	<a href=""><div class="Login facebook"><p></p>Facebook</div></a>
	<!--Division for twitter Login -->
	<a href=""><div class="Login twitter"><p></p>Twitter</div></a>
</div>
<form action="../php/login-code.php" method="post" class="LoginForm">
	<!--Input field for the username-->
	<div class="inputInfo Username"><p></p>Username</div>
	<input type="text" name="Username"/>
	<!--Input field for the password-->
	<div class="inputInfo Password"> <p></p>Password </div>
	<input type="password" name="Password"/>
	<div class="optionsIfLoginFalse">
		<!--TODO Button that takes the user to forgot password page of UAT -->
		<div class="forgotPassword">
		<a href="">Forgot Password ?</a>
		</div>
		<!--Button that linkes to not registered button-->
		<div class="notRegisteredYet"> 
		<!--Linkes to the registeration page-->
		<a href="">Haven't Registered Yet ?</a>
		</div>
	</div>
	<input type="submit" value="Login"/>
</form>
<script type="text/javascript" src="../jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="JS.js"></script>
</body>
<!-- End Of DOM-->
</html>

Registration/login.jade
//
  NOTE -
  This HTML script is purely written in the templating engine of node.js 
  i.e Jade, if you want to edit or rather manipulate the html script please 
  head over to index.jade 
  NOTE -
  I will compile all the code of the jade file into 
  an .html file, you can manipulate the html file in order to manipulate the DOM
//
doctype html 
html(lang="en")
  head 
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    //
      Reset CSS 
    link(rel="stylesheet", href="../Reset.cs" type="text/css")
    //
      StyleSheet of the DOM 
    link(rel="stylesheet", href="style.css" type="text/css")
    //
      Title of the website
    title Login
    //
      Icon of the website
    link(rel="icon" href="../Icon.png")
  body
    header
      //
        TODO
          Link the anchor tag to Home Page
      a(href="")
        .Logo
      .Connect  
      .MainProducts
        .navDiv.Find
          a(href="") Find 
        .navDiv.IBazzar
          a(href="") iBazzar 
        .navDiv.LaunchPad
          a(href="") LaunchPad
      .SearchButton 
      //
        The connect has an icon 
        NOTE - SVG file will be included 
    h1 Login IBNz Networks
    //
      The division between nornal login and outsorced login 
    .LoginDivision
      //
        Division for google login
      a(href="")
        .Login.google 
          p
          | Google
      //
        Division for facebook login
      a(href="")
        .Login.facebook
          p
          | Facebook
      //
        Division for twitter Login 
      a(href="")
        .Login.twitter
          p
          | Twitter
    form(action="" method="post" class="LoginForm")
      //
        Input field for the username
      .inputInfo.Username
        p
        | Username
      input(type="text" name="Username")
      //
        Input field for the password
      .inputInfo.Password 
        p
        | Password 
      input(type="password" name="Password")
      .optionsIfLoginFalse
        //
          TODO
          Button that takes the user to forgot password page of 
          UAT 
        .forgotPassword
          a(href="") Forgot Password ?
        //
          Button that linkes to not registered button
        .notRegisteredYet 
          //Linkes to the registeration page
          a(href="") Haven't Registered Yet ?
      input(type="submit" value="Login") 
    script(type="text/javascript" src="../jquery-3.1.1.min.js")
    script(type="text/javascript" src="JS.js")
  // End Of DOM
